src/main/resources/example_header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Header" type="HeaderType"/>
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element type="xs:string" name="Identifier"/>
      <xs:element type="xs:string" name="DisplayTitle"/>
      <xs:element type="xs:string" name="Version"/>
      <xs:element type="PublishDateTimeType" name="PublishDateTime"/>
      <xs:element type="xs:string" name="Author"/>
      <xs:element type="xs:string" name="Owner"/>
      <xs:element type="xs:string" name="RefreshRate"/>
      <xs:element type="xs:string" name="Max_Latency"/>
      <xs:element type="xs:string" name="TimeToError"/>
      <xs:element type="xs:string" name="Schedule"/>
      <xs:element type="AttributionType" name="Attribution"/>
      <xs:element type="xs:string" name="Language"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublishDateTimeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="canonical"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AttributionType">
    <xs:sequence>
      <xs:element type="xs:string" name="Url"/>
      <xs:element type="xs:string" name="Text"/>
      <xs:element type="xs:string" name="Logo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>